API_ID=21813193
API_HASH=9a466e94f3316af2a4cbd5c74f823f98
BOT_TOKEN= 7591926181:AAErMoEpoLoEVOeFr7nzxtAWLOrqKvp4xuU
MONGO_DB_URI=mongodb+srv://musicbot9809:buburayam1@cluster0.vwbhb.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOG_GROUP_ID=-1002437031257
OWNER_ID= 6618212932
STRING_SESSION=BQFM18kAcNXbo5uyeuNgzcURJEOtXF_DbvoBEBUGmzhXgEygIZ9fzucrGsq_F22PDQsSXh43Ah_brOn_uh-RsxBJYthuDtzsieNisPbLD6DHmRpcyxK5h898Mvs00eDcITcjAJ-sSNymXZwR_zvL-kqjl6VALrTAZfZxloBsrC8-4eRp5TmIwVWC_VfA3P-GkUwgs40yDCWwwXykCZ8VWaUtIuNfiZMGA35DGM3XCwPA_H23cEN9dVvQyETKaOzxx90cNaZOG5xDSa8ouFLxqeXrXlv48SSR4Arx66PfGGOK7ahrDhzgcwIJN4klebc4Cr07nQQNYdtx2Nb1vfoj_37wa_m-xAAAAABy-SPHAA
SUPPORT_GROUP= https://t.me/kambojabercakap
SUPPORT_CHANNEL= https://t.me/blacklistkamber
